USE [ANALYTICALWAYS]
GO
/****** Object:  Table [dbo].[LOG_IMPORTACIONES]    Script Date: 23/03/2020 9:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_IMPORTACIONES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA_EJECUCION] [datetime] NOT NULL,
	[TIEMPO_EJECUCION] [int] NOT NULL,
	[BATCHSIZE_EMPLEADO] [int] NOT NULL,
 CONSTRAINT [PK_LOG_IMPORTACIONES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STOCK]    Script Date: 23/03/2020 9:20:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOCK](
	[POINTOFSALE] [nvarchar](max) NOT NULL,
	[PRODUCT] [nvarchar](max) NOT NULL,
	[DATE] [date] NOT NULL,
	[STOCK] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[BULK_LOAD]    Script Date: 23/03/2020 9:20:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BULK_LOAD] (
	-- Add the parameters for the stored procedure here
	@PATH VARCHAR(1000),
	@BATCHSIZE INT)
AS
BEGIN

	DECLARE @HORA_INICIAL DATETIME ;
	DECLARE @TIEMPO_EJECUCION INT ;
	SET @HORA_INICIAL = GETDATE();

	TRUNCATE TABLE STOCK;
	DECLARE @QUERY NVARCHAR(MAX);
	SET @QUERY = '

			BULK INSERT ANALYTICALWAYS.dbo.STOCK 
				FROM ' +  @PATH + 
				'WITH(
					DATAFILETYPE=''char'',  
					FIRSTROW=2,
					FIELDTERMINATOR='';'',
					BATCHSIZE=' + CAST(@BATCHSIZE AS nvarchar) +',
					FORMAT = ''CSV'');'

	EXEC(@QUERY);
	SET @TIEMPO_EJECUCION = DATEDIFF(ss,@HORA_INICIAL, GETDATE());
	
	INSERT INTO LOG_IMPORTACIONES (FECHA_EJECUCION, TIEMPO_EJECUCION, BATCHSIZE_EMPLEADO) VALUES (@HORA_INICIAL, @TIEMPO_EJECUCION, @BATCHSIZE);

END; 





GO
